select {
  pointer-events: auto; /* Asegúrate de que sea clickeable */
}
.modal-title-custom {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.form-label-custom {
  font-size: 1.1rem;
  color: #495057;
  margin-bottom: 0.5rem;
}

.custom-input,
.custom-select {
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.custom-input:focus,
.custom-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-select {
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg viewBox="0 0 20 20" fill="currentColor" class="chevron-down w-6 h-6"%3e%3cpath fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"%3e%3c/path%3e%3c/svg%3e');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.25em;
}

.custom-btn-primary,
.custom-btn-secondary {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.custom-btn-primary {
  background-color: #007072;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-btn-primary:hover {
  background-color: #005a5a; /* Color de fondo al pasar el mouse */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave al pasar el mouse */
}

.custom-btn-secondary {
  background-color: #6c757d;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-btn-secondary:hover {
  background-color: #495057;
}
