/* App.css */
.app-container {
  display: flex;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.navbar-component {
  position: sticky;
  top: 0;
  z-index: 10;
}

.page-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
