/* Estilos para el contenedor general del formulario */
.cambio-container {
  background: linear-gradient(135deg, #007072 50%, #20201d 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.passwor-form {
  background: #ffffff; /* Formulario en blanco para destacar sobre el fondo */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  animation: slideIn 0.5s ease;
  transition: transform 0.3s ease; /* Transición para el efecto de aumento */
}

/* Fondo de pantalla con gradiente */

.form-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.password-wrapper {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: #007072;
}

/* Estilos para cuando las contraseñas coinciden o no coinciden */
.match {
  border-color: #28a745 !important;
}

.no-match {
  border-color: #dc3545 !important;
}

/* Estilos para el ícono de mostrar/ocultar contraseña */
.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.password-toggle-icon:hover {
  color: #007072;
}

.error-message {
  color: #dc3545;
  font-size: 0.9rem;
  margin-top: 5px;
}

.success-message {
  color: #28a745;
  font-size: 0.9rem;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #007072;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #20201d; /* Color oscuro al hacer hover en el botón */
}
